body{
background:lightgray;
color: dark;
font-family:  cursive;
}
h1 {
color: black;	
font-family: fantasy ;
font-weight: 200;
letter-spacing: 10px;
font-size: 32px ;
}
 a{
 color: orangered;
font-family: 'Lato', sans-serif;
font-weight: 500;
 }

 h2{
color : firebrick;
font-family: 'Poppins', sans-serif;
font-weight: 200;
 }
 a{
text-decoration: none;
color: red;
 }

 a:hover{
 	color: #fc9c1c;
 }
#logo{
 border-radius: 5000%;   
 width: 245px;
}





/* custom design with class */
.container {
width: 700px;
margin: 30px auto;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}


.card-white{
 background-color: whitesmoke;
 padding: 40px;
 box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
 border-radius: 4px;
 margin: 20px 0px;
 text-align: center;
}
.img-circle {
  border-radius: 50%;
}
.btn-blue {
  background-color: #6B72E1;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}
.btn-blue:hover {
  background-color: black;
  color: white;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}
.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 50px;
  color: rgb(23, 150, 230);
}
.list-inline i:hover {
  color: black;


}
#introduction p {
  margin-bottom: 40px;